@model int
<div class="col-6">
    <input type="submit" value="Update" asp-action="UpSert" asp-route-id="@Model" class="btn btn-sm btn-primary" />
    <a class="btn btn-sm btn-danger" asp-action="Index" asp-area="Admin" asp-controller="Category">Cancel</a>
</div>